<div id='description'>
    <p id='big-text'>Thank you for your signature for our petition to make Car-Free Sundays happen all over the world!</p>

    <div id='pictures'>
        <img id='car' src='/public/images/car.svg.png'>
        <img id='bike' src='/public/images/bike.jpeg'>
    </div>

    <img id='sign-image' src='{{image}}'>

    <a href='/signers' class='options'>See all {{signerAmount}} signers</a>
    <a href='/profile/edit' class='options'>Edit your profile</a>
    <a href='/unsign' class='options'>Delete your signature</a>
    <a href='/logout' id ='logout' class='options'>Log out</a>

</div>
